.text-nowrap {
  white-space: nowrap;
}

.user-thumbnail {
  border-radius: 2px;
  display: inline;
  margin: 10px;
  vertical-align: middle;
}

.user-name {
  display: inline;
}

.form-inline > * {
   margin: 0px 3px;
}

.label-square {
  display: inline-block;
  height: 10px;
  margin-right: 3px;
  width: 10px;
}

.bottom-padded {
  padding-bottom: 15px;
}

.top-padded {
  padding-top: 15px;
}

/* Snap.js side menu */

/* We need to set the z-index on the navbar, to cover the side menu */
.navbar {
  z-index: 15;
}

.scrollable {
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
  display: none;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
     -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}

.snap-content {
  /*background: #BFC7D8;*/
  background: #f5f5f5;
  margin-top: 60px;
}

.snap-drawers {
  /*background: #323949;*/
  background: #dfdfdf;
  margin-top: 60px;
}

.snap-drawer {
  background: #dfdfdf;
  /*color: #eee;*/
}

