.text-nowrap {
  white-space: nowrap;
}

.user-thumbnail {
  border-radius: 2px;
  display: inline;
  margin: 10px;
  vertical-align: middle;
}

.user-name {
  display: inline;
}

.form-inline > * {
   margin: 0px 3px;
}

.label-square {
  display: inline-block;
  height: 10px;
  margin-right: 3px;
  width: 10px;
}

.bottom-padded {
  padding-bottom: 15px;
}
